body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-y: hidden;
}

.giffyApp {
  text-align: center;
  overflow: auto;
  /* overflow-y: scroll; */
  height: 90vh;
}

header {
  padding: 10px;
  display: flex;
  justify-content: center;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  margin-bottom: 5px;
  border-bottom: 1px solid;
  border-color: rgba(194, 224, 255, 0.08);
}
.search-container {
  width: 500px;
}
.conditional-text {
  text-align: center;
}
.gifs-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  /* overflow-y: scroll; */
}
.gif-column {
  /* flex: 50%; */
  padding: 0 4px;
}
.gif-container {
  position: relative;
  width: fit-content;
}
.gif-container:hover {
  cursor: pointer;
}
